<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>WeatherTofly</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- CSS  -->
  <!-- favi icon -->
  <link rel="icon" href="images/waethertofly_FINAL_dark_icon.png">
</head>
<body ng-app="weatherToFly" ng-controller="weatherToFlyController" ng-cloak>
  <!-- page loader -->
  <div id="load"></div>
  <!-- page loader -->
  <nav class="deep-purple accent-2" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"><img src="images/waethertofly_FINAL_light_icon.png" width="20%" class="logo-padding hide-on-med-and-down"></a>
      <a id="logo-container" href="#" class="brand-logo"><img src="images/waethertofly_FINAL_light.png" width="50%" class="xs-logo logo-padding hide-on-med-and-up center-align"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Home</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="container search-bar-margin-top hide-on-med-and-down" ng-if="searchBar">
    <div class="row">
      <div class="col offset-s1 s10">
        <nav class="black-color" >
          <div class="nav-wrapper">
            <div class="input-field">
              <input id="search" type="search" ng-model="customSearch" ng-change="search('hide')">
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons hide-on-med-and-down">close</i>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div> 
  <div class="container search-bar-margin-top hide-on-med-and-up" ng-if="searchBar">
    <div class="row search-fix">
      <div class="col s12">
        <nav class="black-color" >
          <div class="nav-wrapper">
            <div class="input-field">
              <input id="search" type="search" ng-model="customSearch" ng-change="search('hide')" class="xs-search-input">
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <!-- desktop version start-->
  <div class="section no-pad-top hide-on-med-and-down" id="index-banner">
    <div class="container-fluid" ng-if="searchForm">
      <div class="row">
        <div class="col s12 no-padding">
          <div class="card black-color margin-none">
            <div class="container">
              <div class="row">
                <div class="col s6">
                  <div class="row">
                    <div class="col offset-s2 s8 logo-margin">
                      <img src="images/waethertofly_FINAL_light.png" width="80%">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col offset-s2 s8">
                      <button class="mui-btn mui-btn--flat search-destination-btn" ng-click="search('show',flyFrom,flyTime,returningOn,leavingOn)">Search destination
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col s6" id="flyForm">
                  <div class="card-content">
                    <div class="row">
                      <div class="input-field col s12">
                        <input type="text" id="flyFrom" ng-model="flyFrom" class="autocomplete">
                        <label for="flyFrom">Fly from</label>
                      </div>
                      <div class="input-field col s12">
                        <input id="flyTime" type="text" ng-model="flyTime" class="validate">
                        <label for="flyTime">Fly time in hour</label>
                      </div>
                      <div class="input-field col s12">
                        <input id="returningOn" type="text" ng-model="returningOn" class="validate">
                        <label for="returningOn">Returning on</label>
                      </div>
                      <div class="input-field col s12">
                        <input id="LeavingOn" type="text" ng-model="leavingOn" class="validate">
                        <label for="LeavingOn">Leaving on</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" ng-if="searchContent">
      <div class="row">
        <div class="col offset-s4 s4">
          <h6 class="your-des-font-size">Your Destination(16)</h6>
        </div>
      </div>
      <div class="content-padding">
        <div class="row">
          <div class="col offset-s1 s10">
            <div class="card horizontal">
              <div class="card-stacked">
                <div class="card-content">
                  <div class="row">
                    <div class="col offset-s1 s7"><span class="card-title card-title-text-color">Fly to Bilbao, Spain</span></div>
                    <div class="col s4 right-align"> <img src="images/waethertofly_FINAL_dark_icon.png" width="25%"></div>
                  </div>
                  <div class="row">
                    <div class="col offset-s4 s4">
                      <p><b>Estimated Price : $108</b></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col offset-s1 s2">
                      <div class="col s12">
                        <p>21/4</p>
                        <p>Tue</p>
                      </div>
                      <div class="col s12 logo-margin">
                        <p><img src="images/cloud.png" width="35%"></p>
                        <p><b>12 C</b></p>
                      </div>
                    </div>
                    <div class="col s2">
                      <div class="col s12">
                        <p>21/4</p>
                        <p>Tue</p>
                      </div>
                      <div class="col s12 logo-margin">
                        <p><img src="images/sun.png" width="35%"></p>
                        <p><b>12 C</b></p>
                      </div>
                    </div>
                    <div class="col s2">
                      <div class="col s12">
                        <p>21/4</p>
                        <p>Tue</p>
                      </div>
                      <div class="col s12 logo-margin">
                        <p><img src="images/cloud.png" width="35%"></p>
                        <p><b>12 C</b></p>
                      </div>
                    </div>
                    <div class="col s2">
                      <div class="col s12">
                        <p>21/4</p>
                        <p>Tue</p>
                      </div>
                      <div class="col s12 logo-margin">
                        <p><img src="images/sun.png" width="35%"></p>
                        <p><b>12 C</b></p>
                      </div>
                    </div>
                    <div class="col s2">
                      <div class="col s12">
                        <p>21/4</p>
                        <p>Tue</p>
                      </div>
                      <div class="col s12 logo-margin">
                        <p><img src="images/cloud.png" width="35%"></p>
                        <p><b>12 C</b></p>
                      </div>
                    </div>
                    <div class="col s1">
                      <div class="row"></div>
                      <p class="arrow-icon"></p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col s6 center-align"><p class="line-break">Search for Flight</p></div>
                  <div class="col s6 center-align"><p>Search for Hotel</p></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col offset-s1 s10">
            <div class="card horizontal">
              <div class="card-stacked">
                <div class="card-content">
                  <div class="row">
                    <div class="col offset-s1 s7"><span class="card-title card-title-text-color">Fly to Bilbao, Spain</span></div>
                    <div class="col s4 right-align"> <img src="images/waethertofly_FINAL_dark_icon.png" width="25%"></div>
                  </div>
                  <div class="row">
                    <div class="col offset-s4 s4">
                      <p><b>Estimated Price : $108</b></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col offset-s1 s2">
                      <div class="col s12">
                        <p>21/4</p>
                        <p>Tue</p>
                      </div>
                      <div class="col s12 logo-margin">
                        <p><img src="images/cloud.png" width="35%"></p>
                        <p><b>12 C</b></p>
                      </div>
                    </div>
                    <div class="col s2">
                      <div class="col s12">
                        <p>21/4</p>
                        <p>Tue</p>
                      </div>
                      <div class="col s12 logo-margin">
                        <p><img src="images/sun.png" width="35%"></p>
                        <p><b>12 C</b></p>
                      </div>
                    </div>
                    <div class="col s2">
                      <div class="col s12">
                        <p>21/4</p>
                        <p>Tue</p>
                      </div>
                      <div class="col s12 logo-margin">
                        <p><img src="images/cloud.png" width="35%"></p>
                        <p><b>12 C</b></p>
                      </div>
                    </div>
                    <div class="col s2">
                      <div class="col s12">
                        <p>21/4</p>
                        <p>Tue</p>
                      </div>
                      <div class="col s12 logo-margin">
                        <p><img src="images/sun.png" width="35%"></p>
                        <p><b>12 C</b></p>
                      </div>
                    </div>
                    <div class="col s2">
                      <div class="col s12">
                        <p>21/4</p>
                        <p>Tue</p>
                      </div>
                      <div class="col s12 logo-margin">
                        <p><img src="images/cloud.png" width="35%"></p>
                        <p><b>12 C</b></p>
                      </div>
                    </div>
                    <div class="col s1">
                      <div class="row"></div>
                      <p class="arrow-icon"></p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col s6 center-align"><p class="line-break">Search for Flight</p></div>
                  <div class="col s6 center-align"><p>Search for Hotel</p></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- desktop version end -->
  <!-- mobile view start-->
  <div class="section no-pad-top hide-on-med-and-up" id="index-banner">
    <div class="container-fluid" ng-if="searchForm">
      <div class="row">
        <div class="col s12 no-padding">
          <div class="card black-color margin-none">
            <div class="container">
              <div class="row">
                
                <div class="col s12" id="flyForm">
                  <div class="card-content">
                    <div class="row">
                      <div class="input-field col s12">
                        <input type="text" id="flyFrom" ng-model="flyFrom" class="autocomplete">
                        <label for="flyFrom">Fly from</label>
                      </div>
                      <div class="input-field col s12">
                        <input id="flyTime" type="text" ng-model="flyTime" class="validate">
                        <label for="flyTime">Fly time in hour</label>
                      </div>
                      <div class="input-field col s12">
                        <input id="returningOn" type="text" ng-model="returningOn" class="validate">
                        <label for="returningOn">Returning on</label>
                      </div>
                      <div class="input-field col s12">
                        <input id="LeavingOn" type="text" ng-model="leavingOn" class="validate">
                        <label for="LeavingOn">Leaving on</label>
                      </div>
                      <div class="col s12">
                        <button class="mui-btn mui-btn--flat search-destination-btn xs-search-des right" ng-click="search('show',flyFrom,flyTime,returningOn,leavingOn)">Search destination
                      </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" ng-if="searchContent">
      <div class="row xs-margin-top-content">
        <div class="col offset-s2 s10">
          <h6 class="your-des-font-size">Your Destination(16)</h6>
        </div>
      </div>
      <div class="content-padding">
        <div class="row">
          <div class="col s12">
            <div class="card horizontal">
              <div class="card-stacked">
                <div class="card-content">
                  <div class="row">
                    <div class="col offset-s1 s7"><span class="card-title card-title-text-color xs-content-title">Fly to Bilbao, Spain</span></div>
                    <div class="col s4 right-align"> <img src="images/waethertofly_FINAL_dark_icon.png" width="25%"></div>
                  </div>
                  <div class="row">
                    <div class="col offset-s2 s8">
                      <p><b>Estimated Price : $108</b></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col offset-s1 s2">
                      <div class="row">
                        <p>21/4</p>
                        <p>Tue</p>
                      </div>
                      <div class="row xs-logo-margin">
                        <img src="images/cloud.png" width="70%">
                        <p><b>12 C</b></p>
                      </div>
                    </div>
                    <div class="col s2">
                      <div class="row">
                        <p>21/4</p>
                        <p>Tue</p>
                      </div>
                      <div class="row xs-logo-margin">
                        <img src="images/sun.png" width="70%">
                        <p><b>12 C</b></p>
                      </div>
                    </div>
                    <div class="col s2">
                      <div class="row">
                        <p>21/4</p>
                        <p>Tue</p>
                      </div>
                      <div class="row xs-logo-margin">
                        <img src="images/cloud.png" width="70%">
                        <p><b>12 C</b></p>
                      </div>
                    </div>
                    <div class="col s2">
                      <div class="row">
                        <p>21/4</p>
                        <p>Tue</p>
                      </div>
                      <div class="row xs-logo-margin">
                        <img src="images/sun.png" width="70%">
                        <p><b>12 C</b></p>
                      </div>
                    </div>
                    <div class="col s2">
                      <div class="row">
                        <p>21/4</p>
                        <p>Tue</p>
                      </div>
                      <div class="row xs-logo-margin">
                        <img src="images/cloud.png" width="70%">
                        <p><b>12 C</b></p>
                      </div>
                    </div>
                    <div class="col s1">
                      <div class="row"></div>
                      <div class="row"></div>
                      <div class="row"><p class="arrow-icon xs-arrow-icon"></p></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col offset-s1 s5 center-align"><p class="line-break">Search for Flight</p></div>
                  <div class="col s5 center-align"><p>Search for Hotel</p></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="card horizontal">
              <div class="card-stacked">
                <div class="card-content">
                  <div class="row">
                    <div class="col offset-s1 s7"><span class="card-title card-title-text-color xs-content-title">Fly to Bilbao, Spain</span></div>
                    <div class="col s4 right-align"> <img src="images/waethertofly_FINAL_dark_icon.png" width="25%"></div>
                  </div>
                  <div class="row">
                    <div class="col offset-s2 s8">
                      <p><b>Estimated Price : $108</b></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col offset-s1 s2">
                      <div class="row">
                        <p>21/4</p>
                        <p>Tue</p>
                      </div>
                      <div class="row xs-logo-margin">
                        <img src="images/cloud.png" width="70%">
                        <p><b>12 C</b></p>
                      </div>
                    </div>
                    <div class="col s2">
                      <div class="row">
                        <p>21/4</p>
                        <p>Tue</p>
                      </div>
                      <div class="row xs-logo-margin">
                        <img src="images/sun.png" width="70%">
                        <p><b>12 C</b></p>
                      </div>
                    </div>
                    <div class="col s2">
                      <div class="row">
                        <p>21/4</p>
                        <p>Tue</p>
                      </div>
                      <div class="row xs-logo-margin">
                        <img src="images/cloud.png" width="70%">
                        <p><b>12 C</b></p>
                      </div>
                    </div>
                    <div class="col s2">
                      <div class="row">
                        <p>21/4</p>
                        <p>Tue</p>
                      </div>
                      <div class="row xs-logo-margin">
                        <img src="images/sun.png" width="70%">
                        <p><b>12 C</b></p>
                      </div>
                    </div>
                    <div class="col s2">
                      <div class="row">
                        <p>21/4</p>
                        <p>Tue</p>
                      </div>
                      <div class="row xs-logo-margin">
                        <img src="images/cloud.png" width="70%">
                        <p><b>12 C</b></p>
                      </div>
                    </div>
                    <div class="col s1">
                      <div class="row"></div>
                      <div class="row"></div>
                      <div class="row"><p class="arrow-icon xs-arrow-icon"></p></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col offset-s1 s5 center-align"><p class="line-break">Search for Flight</p></div>
                  <div class="col s5 center-align"><p>Search for Hotel</p></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- mobile view end -->
  <footer class="page-footer deep-orange footer-custom">
    <div class="footer-copyright">
      <div class="container">
        <a class="grey-text text-lighten-4" href="#!"> © 2017 WeatherToFly Developed By </a>
      </div>
    </div>
  </footer>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
  <script src="js/materialize.js" type="text/javascript"></script>
  <script src="js/angular.min.js" type="text/javascript"></script>
  <script src="js/weatherToFly.js" type="text/javascript"></script>
  <script src="js/init.js" type="text/javascript"></script>
  <!-- Scripts end -->
  </body>
</html>
